<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RxButtonControl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>22EA61B01F497E8B00B4EE8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22EA61C41F497E8B00B4EE8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22EA61CF1F497E8B00B4EE8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
